* {
	font-family: '맑은 고딕', Gothic, sans-serif;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
label {
	cursor: pointer;
}

#page {
	background-color: gray;
	padding-top: 10px;
	width: 1500px;
	height: 5000px;
	margin: 10px auto;
}

/* ------------------------------- header ----------------------------------*/

#head {
	width: 1500px;
	height: 150px;
	display: flex;
  	flex-direction: row;
  	background-image: linear-gradient(to right, yellowgreen, skyblue);
}

 #head > a {height: 0;}

.seoulimg {
	display: block;
	max-height: 150px;
}

.tab-title {
	display: block;
	height: 150px;
}

.tab-title > label {
	float: left;
	margin-left: 50px;
	width: 230px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	transition: font-size 0.5s ease-in-out;
}

.tab-title > label:hover {
	font-size : 24px;
}

input:nth-of-type(1) {display: none;}
input:nth-of-type(2) {display: none;}
input:nth-of-type(3) {display: none;}
input:nth-of-type(4) {display: none;}

/* --------------------------- main-content -----------------------------*/

#main-content {
	width: 1500px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#main-content>#inner1, #main-content>#inner2,
#main-content>#inner3, #main-content>#inner4 
{display: none;}

#me:checked ~ #main-content>#inner1 {display: block;}
#you:checked ~ #main-content>#inner2 {display: block;}
#here:checked ~ #main-content>#inner3 {display: block;}
#how:checked ~ #main-content>#inner4 {display: block;}

#inner1, #inner2, #inner3, #inner4 {
	position: relative;
	width: 1500px;
	height: 2000px;
	background-color: aquamarine;
}

aside {
	position: relative;
	top: 5px;
	left: 5px;
}

details {
	display: inline-block;
    padding: 0 30px;
    width: 200px;
    background-color: #f1f9eb;
    border: 1px solid yellowgreen;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
}
summary::-webkit-details-marker {
	display: none;
}
summary {
	display: block;
    padding: 30px 50px 30px 0;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
summary::before, summary::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #222;
    right: 15px;
    top: 40px;
}
summary::after {
    transform: rotateZ(90deg);
}
details p {
    padding-bottom: 30px;
}
details[open] summary::after {
    display: none;
}

input:nth-of-type(5) {display: none;}
input:nth-of-type(6) {display: none;}
input:nth-of-type(7) {display: none;}
input:nth-of-type(8) {display: none;}
input:nth-of-type(9) {display: none;}
input:nth-of-type(10) {display: none;}
input:nth-of-type(11) {display: none;}

#inner1>#self-con, #inner2>#ques-con,
#inner3>#intro-con, #inner3>#reason-con,
#inner4>#sup-con, #inner4>#real-con, #inner4>#feel-con
{display: none;}

#self:checked ~ #self-con {display: block;}
#ques:checked ~ #ques-con {display: block;}
#intro:checked ~ #intro-con {display: block;}
#reason:checked ~ #reason-con {display: block;}
#sup:checked ~ #sup-con {display: block;}
#real:checked ~ #real-con {display: block;}
#feel:checked ~ #feel-con {display: block;}
