* {
	font-family: '맑은 고딕', Gothic, sans-serif;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
label {
	cursor: pointer;
}

#page {
	width: 1500px;
	height: 4500px;
	margin: 10px auto;
	background-color: #F2FFEE;
}

/* ------------------------------- header ----------------------------------*/

#head {
	width: 1500px;
	height: 150px;
	position: fixed;
	top: 0;
  	background-color: #E0FFDA;
  	z-index: 100;
}

 #head>a {height: 0;}

.seoulimg {
	display: block;
	float: left;
	max-height: 100px;
	margin-left: 50px;
	margin-top: 25px;
	z-index: 100;
}

.tab-title {
	float: right;
	display: block;
	height: 150px;
}
.tab-title>label {
	float: left;
	width: 270px;
	height: 150px;
	margin-right: 50px;
	line-height: 150px;
	text-align: center;
	font-weight: 600;
	font-size: 16px;
	transition: font-size 0.5s ease-in-out;
}
.tab-title>label:hover {
	font-size : 24px;
	text-decoration : underline;
 	text-underline-offset : 7px;
}

input:nth-of-type(1) {display: none;}
input:nth-of-type(2) {display: none;}
input:nth-of-type(3) {display: none;}
input:nth-of-type(4) {display: none;}

/* --------------------------- main-content -----------------------------*/

#main-content {
	width: 1500px;
	margin-top: 150px;
	position: relative;
}

#main-content>#inner1, #main-content>#inner2,
#main-content>#inner3, #main-content>#inner4 
{display: none;}

#me:checked ~ #main-content>#inner1 {display: block;}
#you:checked ~ #main-content>#inner2 {display: block;}
#here:checked ~ #main-content>#inner3 {display: block;}
#how:checked ~ #main-content>#inner4 {display: block;}

#inner1, #inner2, #inner3, #inner4 {
	width: 1500px;
}

details {
	display: inline-block;
    padding: 0 30px;
    width: 200px;
    background-color: #f1f9eb;
    border: 1px solid yellowgreen;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 10px;
}
summary::-webkit-details-marker {
	display: none;
}
summary {
	display: block;
    padding: 30px 50px 30px 0;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
summary::before, summary::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #222;
    right: 15px;
    top: 40px;
}
summary::after {
    transform: rotateZ(90deg);
}
details>p {
    padding-bottom: 30px;
    /* opacity: 0.5; */
}
details[open] summary::after {
    display: none;
}

/*
#self:checked ~ aside p {opacity: 1; text-decoration: underline; text-underline-offset: 3px;}
#ques:checked ~ aside p {opacity: 1; text-decoration: underline; text-underline-offset: 3px;}
#intro:checked ~ aside p {opacity: 1; text-decoration: underline; text-underline-offset: 3px;}
#reason:checked ~ aside p {opacity: 1; text-decoration: underline; text-underline-offset: 3px;}
#sup:checked ~ aside p {opacity: 1; text-decoration: underline; text-underline-offset: 3px;}
#real:checked ~ aside p {opacity: 1; text-decoration: underline; text-underline-offset: 3px;}
#feel:checked ~ aside p {opacity: 1; text-decoration: underline; text-underline-offset: 3px;}
*/

input:nth-of-type(5) {display: none;}
input:nth-of-type(6) {display: none;}
input:nth-of-type(7) {display: none;}
input:nth-of-type(8) {display: none;}
input:nth-of-type(9) {display: none;}
input:nth-of-type(10) {display: none;}
input:nth-of-type(11) {display: none;}
/* 내 소개 이미지 때문에 3개 추가 */
input:nth-of-type(12) {display: none;} 
input:nth-of-type(13) {display: none;}
input:nth-of-type(14) {display: none;} 
/* 짝궁 소개 이미지 때문에 2개 추가 */
input:nth-of-type(15) {display: none;} 
input:nth-of-type(16) {display: none;} 
/* 이곳 소개 이미지 때문에 4개 추가 */
input:nth-of-type(17) {display: none;} 
input:nth-of-type(18) {display: none;} 
input:nth-of-type(19) {display: none;} 
input:nth-of-type(20) {display: none;} 

#inner1>#self-con, #inner2>#ques-con,
#inner3>#intro-con, #inner3>#reason-con,
#inner4>#sup-con, #inner4>#real-con, #inner4>#feel-con
{display: none;}

#self:checked ~ #self-con {display: block;}
#ques:checked ~ #ques-con {display: block;}
#intro:checked ~ #intro-con {display: block;}
#reason:checked ~ #reason-con {display: block;}
#sup:checked ~ #sup-con {display: block;}
#real:checked ~ #real-con {display: block;}
#feel:checked ~ #feel-con {display: block;}

aside {
	position: absolute;
	width: 250px;
}
.news {
	float: right;
	margin-top: 20px;
	width: 1250px;
}
.article {
	margin-left: 55px;
	font-size: 30px;
}
.article li, .article p {
	font-family: "Nanum Pen Script", cursive;
  	font-weight: 400;
  	font-style: normal;
}
.article p {font-size: 35px;}
.article span {
	color: red;
	font-size: 40px;
}

/* --------------------------- inner1 -----------------------------*/

#my-img {
	display: flex;
  	flex-direction: row;
  	justify-content: space-around;
	height: 450px;
}
.myface {
	width: 300px;
}

#introself1, #introself2, #introself3 {display: none;}

#my1:checked ~ #self-con>#introself1 {display: block;}
#my2:checked ~ #self-con>#introself2 {display: block;}
#my3:checked ~ #self-con>#introself3 {display: block;}

/* --------------------------- inner2 -----------------------------*/

#your-img {
	display: flex;
  	flex-direction: row;
  	justify-content: space-around;
	height: 450px;
}
.yourface {
	width: 300px;
}

#yourself1, #yourself2 {display: none;}

#your1:checked ~ #ques-con>#yourself1 {display: block;}
#your2:checked ~ #ques-con>#yourself2 {display: block;}

.talkbox {
	width: 750px;
	height: 1000px;
	margin: auto;
	border: 5px solid black;
	overflow: scroll;
	background-color: #E1F5FE;
}
.ask {
	padding: 20px;
	height: 100px;
}
.ans {
	padding: 20px;
	height: 100px;
}
.talkbox:last-child {
	margin-bottom: 10px;
}
.ask>.pull1 {
	float: right;
	position:relative; 
	margin: 20px; 
	padding: 10px; 
	width:200px; 
	height:60px; 
	color: black; 
	border-radius: 10px; 
	background-color: #FFEE58;
	line-height: 30px;
	font-weight: 600;
}
.ask>.pull1:after {
	content:""; 
	position: absolute; 
	top: 21px; 
	right: -30px; 
	border-left: 30px solid #FFEE58; 
	border-top: 10px solid transparent; 
	border-bottom: 10px solid transparent;
}
.ans>.pull2 {
	position:relative; 
	margin: 20px; 
	padding: 10px; 
	width:200px; 
	height:90px; 
	color: black; 
	border-radius: 10px; 
	background-color: #FFFFFF;
	line-height: 30px;
	font-weight: 600;
}
.ans>.pull2:after {
	content:""; 
	position: absolute; 
	top: 21px; 
	left: -30px; 
	border-right: 30px solid #FFFFFF; 
	border-top: 10px solid transparent; 
	border-bottom: 10px solid transparent;
}

/* --------------------------- inner3 -----------------------------*/

#road-img {
	display: flex;
  	flex-direction: row;
  	justify-content: space-around;
	height: 450px;
}
.road {
	width: 300px;
}
#pick-img {
	display: flex;
  	flex-direction: row;
  	justify-content: space-around;
	height: 450px;
}
.pick {
	width: 300px;
}

#way1, #way2, #pick-1, #pick-2 {display: none; margin-left: 150px;}

#road1:checked ~ #intro-con>#way1 {display: block;}
#road2:checked ~ #intro-con>#way2 {display: block;}
#pick1:checked ~ #reason-con>#pick-1 {display: block;}
#pick2:checked ~ #reason-con>#pick-2 {display: block;}

#way1>h3, #way2>h3, #pick-1>h3, #pick-2>h3 {
	font-family: "Nanum Pen Script", cursive;
  	font-weight: 400;
  	font-style: normal;
  	font-size: 35px;
  	text-align: center;
  	margin-right: 150px;
}

/* --------------------------- inner4 -----------------------------*/

.blog {
	padding-top: 50px;
	text-align: center;
}
.blog>p {
	display: inline-block;
	font-family: "Nanum Pen Script", cursive;
  	font-weight: 400;
  	font-style: normal;
  	font-size: 30px;
}
.blog>p:first-child {
	font-family: '맑은 고딕', Gothic, sans-serif;
}

.descrip{
	width: 300px;
}

#real-con {
	margin-top: 0;
}
#real-con>strong {
	font-size: 24px;
}
.trip {
	width: 300px;
}
#wide-img {
	width: 600px;
}

#feel-con>p {
	display: inline;
	font-family: "Nanum Pen Script", cursive;
  	font-weight: 400;
  	font-style: normal;
  	font-size: 30px;
}
#feel-con>p:first-child {
	font-family: '맑은 고딕', Gothic, sans-serif;
}

#friend-img {
	width: 1000px;
	margin: auto;
	display: flex;
  	flex-direction: row;
  	justify-content: space-around;
}
.friend {
	width: 400px;
}
.view {
	width: 800px;
}
