* {
	font-family: '맑은 고딕', Gothic, sans-serif;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}

#page {
	background-color: gray;
	padding-top: 10px;
	width: 1500px;
	height: 5000px;
	margin: 10px auto;
}

/* ------------------------------- header ----------------------------------*/

#head {
	width: 1500px;
	height: 150px;
	display: flex;
  	flex-direction: row;
  	background-image: linear-gradient(to right, yellowgreen, skyblue);
}

 #head > a {height: 0;}

.seoulimg {
	display: block;
	max-height: 150px;
}

.tab-title {
	display: block;
	height: 150px;
}

.tab-title > label {
	float: left;
	margin-left: 50px;
	width: 230px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	cursor: pointer;
	transition: font-size 0.5s ease-in-out;
}

.tab-title > label:hover {
	font-size : 24px;
}

input:nth-of-type(1) {display: none;}
input:nth-of-type(2) {display: none;}
input:nth-of-type(3) {display: none;}
input:nth-of-type(4) {display: none;}

/* ------------------------------- container ----------------------------------*/

#container {
	width: 1500px;
}

#container {display: none;}

#head:has(#me:checked) + #container .inner1 {display: block;}
#head:has(#you:checked) + #container .inner2 {display: block;}
#head:has(#here:checked) + #container .inner3 {display: block;}
#head:has(#how:checked) + #container .inner4 {display: block;}
